{% comment %} <div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="#" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2">Features</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2">Pricing</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2">FAQs</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2">About</a>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div> {% endcomment %}

<header>
  <nav class="navbar navbar-expand-md fixed-top bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'sender:index' %}">SendEasy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link {% if '/clients/' in request.path %}active{% endif %}" href="{% url 'sender:client_list' %}">Клиенты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if '/texts/' in request.path %}active{% endif %}" href="{% url 'sender:text_list' %}">Письма</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if '/mailings/' in request.path %}active{% endif %}" href="{% url 'sender:mailing_list' %}">Рассылки</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if '/users/login/' in request.path %}active{% endif %}" href="{% url 'users:login' %}">Вход</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/users/register/' in request.path %}active{% endif %}" href="{% url 'users:register' %}">Регистрация</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link {% if '/users/profile/' in request.path %}active{% endif %}" href="{% url 'users:profile' %}">Профиль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
