.scroll-table-body {
	height: 300px;
	overflow-x: auto;
}

.scroll-table table {
	table-layout: fixed;
}


/* Стили для скролла
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} */