{% extends 'base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/scroll_table.css' %}">  
{% endblock  %}

{% block content %}
  <h1 class="mt-5">Информация о рассылке</h1>
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title">{{ object.name }}</h5>
      </div>

      <div>
        {% if perms.sender.disable_mailing %}
          {% if object.status != object.STOPPED %}
          <a href="{% url "sender:disable_mailing" object.pk %}" class="btn btn-danger">Завершить</a>
          {% endif %}
        {% endif %}
        <a href="{% url "sender:mailing_list" %}" class="btn btn-primary">Назад</a>
        {% if object.owner == user or user.is_superuser %}
        <a href="{% url "sender:mailing_update" object.pk %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url "sender:mailing_delete" object.pk %}" class="btn btn-outline-danger">Удалить</a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">

      <form action="{% url "sender:mailing_detail" object.pk %}" id="id_form" method="post">
        {% csrf_token %}
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Сообщение</th>
              <th scope="col">Статус</th>
              <th scope="col">Периодичность</th>
              <th scope="col">Дата и время старта</th>
              <th scope="col">Дата и время окончания</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{% url "sender:text_detail" object.text.pk %}">{{ object.text }}</a></td>
              {% if perms.sender.disable_mailing %}
              <td>{{ object.get_status_display }}</td>
              <td>{{ object.get_periodicity_display }}</td>
              {% else %}
              <td><select name="status" class="form-select" id="" onchange="submitForm()">
                {% for status in object.MAILING_STATUS %}
                  <option value="{{ status.0 }}" {% if object.status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
                {% endfor %}
              </select></td>
              <td><select name="periodicity" class="form-select" id="" onchange="submitForm()">
                {% for periodicity in object.LAUNCH_FREQUENCY %}
                  <option value="{{ periodicity.0 }}" {% if object.periodicity == periodicity.0 %}selected{% endif %}>{{ periodicity.1 }}</option>
                {% endfor %}
              </select></td>
              {% endif %}
              <td>{{ object.start_datetime }}</td>
              <td>{% if object.end_datetime %}{{ object.end_datetime }}{% else %}-{% endif %}</td>            
            </tr>
          </tbody>
        </table>
      </form>
      

      <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item mb-4">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Последние 5 записей лога
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Дата и время запуска</th>
                    <th>Статус</th>
                    <th>Код ответа</th>
                    <th>Текст ответа сервера</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in object.attempts.all|slice:":5" %}
                      <tr>
                        <td>{{ obj.started }}</td>
                        <td>{% if obj.status %}<strong class="text-success">Отправлено</strong>{% else %}<strong class="text-danger">Не отправлено</strong>{% endif %}</td>
                        <td>{{ obj.response_code }}</td>
                        <td>{{ obj.response_msg }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
              <form action="{% url "sender:attempt_clear" object.pk %}" method="post">
                {% csrf_token %}
                {% if not perms.sender.disable_mailing %}
                <button type="submit" class="btn btn-primary">Очистить попытки</button>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="accordion mt-4" id="accordionPanelsStayOpenExample">        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" {% if perms.sender.disable_mailing %}disabled{% endif %} type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Клиенты: {{ object.clients.all|length }} шт.
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="scroll-table m-3">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Фамилия Имя Отчество</th>
                    <th>Email</th>
                  </tr>
                </thead>
              </table>
              <div class="scroll-table-body">
                <table class="table table-sm table-hover">
                  <tbody>
                    {% for obj in object.clients.all %}
                    <tr>
                      <td><div class="d-flex position-relative">{{ obj.name }}<a href="{% url "sender:client_detail" obj.pk %}" class="stretched-link"></a></div></td>
                      <td><div class="d-flex position-relative">{{ obj.email }}<a href="{% url "sender:client_detail" obj.pk %}" class="stretched-link"></a></div></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>	
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}


{% block footer %}
<script src="{% static "js/autoform.js" %}"></script>
{% endblock  %}