{% extends 'base.html' %}
{% load static %}

{% block header %}
  {{ form.media }} <!-- Стили для ckeditor-5 -->
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="m-5 text-center">{% if object %}Редактироние сообщения{% else %}Новое сообщение{% endif %}</h1>
      <form action="" method="post">
        {% csrf_token %}        
        {{ form.as_p }}

        <div class="row-cols-2">
          <div class="d-flex gap-3">
            <button type="submit" class="btn btn-primary form-control">{% if object %}Сохранить{% else %}Создать{% endif %}</button>
            <a class="btn btn-secondary form-control"
            href="
              {% if object %}
                {% url "sender:mailing_detail" object.pk %}
              {% else %}
                {% url "sender:mailing_list" %}
              {% endif %}
            ">Отмена</a>
          </div>        
        </div>        
      </form>
    </div>
  </div>
{% endblock %}
