{% extends 'base.html' %}
{% load static %}

{% block header %}
  {{ form.media }} <!-- Стили для ckeditor-5 -->
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="m-5 text-center">{{ title }}</h1>
      <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}

        <div class="row-cols-2">
          <div class="d-flex gap-3">
            <button type="submit" class="btn btn-primary form-control">Войти</button>
          </div>        
        </div>        
      </form>
    </div>
  </div>
{% endblock %}
